.Chat-main
  .Chat-header
    .Chat-header__group
      .Chat-header__group-name
        = @group.name
      .Chat-header__group-member
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "Chat-header__edit" do
      Edit  
  .Chat-main__message-list
    = render @messages
  .Chat-footer
    = form_with model: [@group, @message], html: {class: "Form"},local: true do |f|
      .Post-form
        = f.text_field :content, class: 'Post-form__text', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do  
          = icon('far', 'image', class: 'Post-form__text-icon')
          = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'Post-form__icon-send'

