.Side-bar
  .Side-bar__user-name
    .Top-items
      .Top-items__name
        = current_user.name
      .Top-items__icon
        = link_to new_group_path, class: "icon-edit" do
          = icon('far','edit')
        = link_to edit_user_path(current_user), class: "icon-set" do
          = icon('fas', 'cog')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Group-listbox
        = link_to '#' do
          .Group-listbox__name
            = group.name
          .Group-listbox__message
            まだメッセージはありません。